footer {
    border: var(--border-main);
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: auto;
    font-size: 12px;
    height: 55px;
    align-items: center;
    color: var(--body-docs-color)
}

.footer__links {
    display: flex;
    text-align: end;
    gap: 22px;
    font-weight: var(--font-regular);
}

.footer__links a:hover {
    color: var(--ifm-color-primary-lightest);
}
@media screen and (max-width: 600px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
}