.navbar {
  display: flex;
  justify-content: space-between;
  height: 62px;
  font-size: 20px;
  color: #173163;
  align-items: center;
  font-weight: 400;
  padding: 10px 60px;
  position: fixed;
  background-color: #fff;
  width: 100%;
}
.navbar__logo{
  background-image: url("../images/logo.png");
  width: 250px;
  height: 60px;
  margin-right: 50px;
  margin-top: -5px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.navbar__menu {
  display: flex;
  width: 100%;
}
.navbar__menu ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navbar__menu ul li {
  text-decoration: none;
  list-style: none;
  line-height: 19.36px;
}
.navbar__search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  /* padding-right: 67.44px; */
}
.login {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__search button {
  font-size: 20px;
  font-size: 13px;
  padding: 8px 16px;
  background-color: #edeff3;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.navbar__search .login button:nth-child(2) {
  background-color: var(--body-main-color);
  display: flex;
  color: #455A82;
  font-size: 13px;
  line-height: 16px;
}
.navbar__search .search {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 12px;
  width: 260px;
  height: 40px;
  border-radius: 36px;
  border: 1px solid #e0e5eb;
}
.navbar__search .search input{
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 5px;
  width: 260px;
  height: 40px;
  border-radius: 36px;
  border: none;
  background-color: transparent;
  outline: none;
}
.material-icons{
  color: rgba(0, 0, 0, 0.5);
}
.material-symbols-outlined{
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.5);
}
.login button:nth-child(1){
  color: var(--ifm-color-primaryfm);
  font-size: 13px;
  line-height: 16px;
}