.quick-links {
    max-width: var(--max-width);
    margin: auto;
}

.quick-links__items {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--docs-paragraph);
}

.quick-links__items__item {
    display: flex;
    flex-direction: column;
}