
html{
  overflow-y: auto;
  scrollbar-gutter: stable;
}


.left--section {
  height: 100vh;
  width: var(--left-side-width);
  padding-top: calc(var(--navbar-height) + 40px);
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-right: 1px solid var(--section-border);
  position: fixed;
  z-index: 9;
  bottom: 0;
  background-color: #fff;
}

.left--section__components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  gap: 20px;
  overflow: hidden;
  padding: 0;
}

.lists {
  height: fit-content;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
  border-left: 1px solid #b8b8b8;
  padding-left: 5%;
  color: #818FAB;
}

.left--section__components h6 {
  font-size: 15px;
  line-height: 18px;
  color: var(--section-welcome);
}


.spann {
  color: #1D58C8;
  display: flex;
  flex-direction: column;
}
.spann .small--span {
  width: 2px;
  height: 25px;
  border-radius: 3px;
  background-color: #1d58c8;
  position: absolute;
  left: 30px;
}

/* /////////////////// MAIN /////////////////////*/


/* ////////////////// RIGHT SECTION ///////////////////////// */

.right--section {
  width: 350px;
  background-color: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: calc(var(--navbar-height) + 40px);
}

.right--section__content {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.right--section__content h6 {
  font-size: 15px;
  color: #7483a1;
}

.right--section__content ul {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: #818fab;
}

.right--section__content ul a:hover {
  color: var(--ifm-color-primary);
}

@media screen and (max-width: 600px) {

  .mainPage {
    padding: 0 5%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 90vw;
  }

  .mainPage--routings {
    flex-direction: row;
  }

  .main--section__content {
    width: 90vw;
    justify-content: right;
  }

  .main--section__content__code {
    flex-direction: column;

  }

  .code--one__description {
    width: 90vw;
  }

  .main--section__content__code__code-one {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }

  .code--one__image,
  .code--two__image,
  .writing--code__image {
    max-width: 90vw;
    max-height: 200px;
    background-size: contain;
    margin: 0;
  }

  .blue--notification {
    width: 90vw;
    justify-content: center;
  }

  .writing--code {
    flex-direction: column;
  }

  .writing--code__content {
    width: 96vw;
    flex-wrap: wrap;
  }

  .writing--code__paragraph {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .back--to {
    width: 90vw;
  }

  .left--section {
    display: none;
  }

  .right--section {
    display: none;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  margin-left: var(--left-side-width);
  margin-top: var(--navbar-height);
}

.main-content {
  margin-right: var(--right-side-width);
}

.main-content__container {
  max-width: 800px;
  margin: auto;
}