.left--section {
  height: 100vh;
  width: var(--left-side-width);
  padding-top: calc(var(--navbar-height) + 40px);
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-right: 1px solid var(--section-border);
  position: fixed;
  z-index: 9;
  bottom: 0;
  background-color: #fff;
}
.name{
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: center;
  font-size: 50px;
}
.left--section__components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 20px;
  overflow: hidden;
  padding: 0;
}
.lists {
  height: fit-content;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
}
.left--section__components h6 {
  font-size: 15px;
  line-height: 18px;
  color: var(--section-welcome);
}
.left--section__components__selection {
  background-color: transparent;
  border: none;
  font-size: 15px;
  height: 25px;
  transition: 0.5s;
}
#list-one h2 {
  /* position: relative; */
  top: 0;
  background-color: #fff;
  z-index: 99;
  font-size: 15px;
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-left: -20px;
  padding: 0 20px;
  cursor: pointer;
}

.span--div {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  width: 100%;
  gap: 25px;
  overflow: hidden;
}
.span {
  width: 1px;
  height: 100px;
  background-color: #c8d0da;
  transform-origin: 0px 0px;
  transition: 0.5s;
}
.left--section__components__selection {
  font-size: 15px;
  color: #818fab;
  display: flex;
}
.left--section__components__selection ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hidden {
  transform: translate(0px, -150px);
}
.small--span {
  width: 3px;
  height: 25px;
  border-radius: 3px;
  background-color: #1d58c8;
  position: absolute;
}
#arrow {
  transition: 0.5s;
  margin-right: -15px;
  display: block;
}
.arrow {
  transform: rotate(90deg);
}

li{
  list-style:decimal;
}
ul{
  list-style:decimal;
}
/* /////////////////// MAIN /////////////////////*/

h2{
  font-size: 55px;
}



/* ////////////////// RIGHT SECTION ///////////////////////// */

.right--section {
  width: 350px;
  /* height: calc(100% - var(--footer-height)); */
  /* height: 100%; */
  background-color: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: calc(var(--navbar-height) + 40px);
}
.right--section__content {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.right--section__content h6 {
  font-size: 15px;
  color: #7483a1;
}
.right--section__content ul {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: #818fab;
}
.right--section__content ul a:hover {
  color: var(--ifm-color-primary);
}

@media screen and (max-width: 600px) {
  
  .mainPage{
    padding: 0 5%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 90vw;
  }
  .mainPage--routings{
    flex-direction: row;
  }
  .main--section__content{
    width: 90vw;
    justify-content: right;
  }
  .code__span{
    display: none;
  }
  .main--section__content__code{
    flex-direction: column;

  }
  .code--one__description{
    width: 90vw;
  }
  .main--section__content__code__code-one{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }
  .code--one__image,
  .code--two__image,
  .writing--code__image{
    max-width: 90vw;
    max-height: 200px;
    background-size: contain;
    margin: 0;
  }
  .blue--notification{
    width: 90vw;
    justify-content: center;
  }
  .writing--code{
    flex-direction: column;
  }
  .writing--code__content{
    width: 96vw;
    flex-wrap: wrap;
  }
  .writing--code__paragraph{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .back--to{
    width: 90vw;
  }
  .left--section{
    display: none;
  }
  .right--section{
    display: none;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  margin-left: var(--left-side-width);
  margin-top: var(--navbar-height);
}
.main-content {
  margin-right: var(--right-side-width);
}
.main-content__container {
  max-width: 800px;
  margin: auto;
}