@import url("./components/QuickLinks.css");
@import url("./components/Footer.css");
@import url("./components/Navbar.css");
@import url("./components/Header.css");

:root {
  --max-width: 1140px;
  --ifm-color-primary: #1D58C8;

  --body-main-color: #f5f5f5;
  --body-docs-color: #818fab;
  --heading-color: #173163;
  --paragraph-color: #455a82;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --border-main: 1px solid #dadfe7;

  --max-width: 1140px;

  --body-main-color: #f5f5f5;
  --body-docs-color: #818fab;

  --color-heading: #173163;
  --color-paragraph: #455a82;

  --ifm-color-primary-lightest: #608fe8;
  --ifm-color-primary-lighter: #3f78e3;
  --ifm-color-primary-light: #3470e1;
  --ifm-color-primary: #2061dc;
  --ifm-color-primary-dark: #1d57c6;
  --ifm-color-primary-darker: #1b52bb;
  --ifm-color-primary-darkest: #16449a;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --border-main: 1px solid #dadfe7;



  /* ------------HEADER COLORS------------- */


  --header-main-color: #0E234D;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--body-main-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

li {
  list-style: none;
}
